<div class="box">
	<h2>Points Available - {{skillpoints}}</h2>
</div>
<div class="box">
		<div class='mobile-grid-100'>
			<h2 class="mobile-grid-50">Strength - {{strength}}</h2>
			<button data="strength" class="attributesButton mobile-grid-10">+</button>
		</div>
		<div class='mobile-grid-100'>
			<h2 class="mobile-grid-50">Intelligence - {{intelligence}}</h2>
			<button data="intelligence" class="attributesButton mobile-grid-10">+</button>
		</div>
		<div class='mobile-grid-100'>
			<h2 class="mobile-grid-50">Defense - {{defense}}</h2>
			<button data="defense" class="attributesButton mobile-grid-10">+</button>
		</div>
		<div class='mobile-grid-100'>
			<h2 class="mobile-grid-50">Endurance - {{endurance}}</h2>
			<button data="endurance" class="attributesButton mobile-grid-10">+</button>
		</div>
	
	<div class="clear"></div>
</div>