<div class="mobile-grid-33">
	<div>{{name}}</div>
	<div>{{race}}</div>
	<div>{{gender}}</div>
</div>
<div class="mobile-grid-33">
	<div>Level: {{level}}</div>
	<div>XP: {{exp}}</div>
	<div>Energy: {{energy}}</div>
</div>
<div class="mobile-grid-33">
	<div>Gold: {{gold}}</div>
	<div>Essence: {{essence}}</div>
	<div>Rank: {{rank}}</div>
</div>

<div class="mobile-grid-100">
	<small>next in <span id="nextEnergyIn"></span></small>
</div>
