<div class="mobile-push-5 mobile-grid-90 mobile-suffix-5 tablet-grid-100 grid-100">
	<h6 class="cursor grid-25 mobile-grid-25 tablet-grid-25">stamina</h6>
	<h6 class="grid-25 mobile-grid-25 tablet-grid-25">exp</h6>
	<h6 class="grid-25 mobile-grid-25 tablet-grid-25">gold</h6>
	<h6 class="cursor grid-25 mobile-grid-25 tablet-grid-25">essence</h6>
</div>
<div class="mobile-push-5 mobile-grid-90 mobile-suffix-5 tablet-grid-100 grid-100">
	<small class="grid-25 mobile-grid-25 tablet-grid-25"><span id="statsEnergy">{{energy}}</span>/{{energyMax}}</small>
	<small id="statsExp" class="grid-25 mobile-grid-25 tablet-grid-25"><span >{{exp}}/{{exp_to_next_level}}</span></small>
	<small id="statsGold" style="color:yellow;" class="grid-25 mobile-grid-25 tablet-grid-25"><span >{{gold}}</span></small>
	<small class="grid-25 mobile-grid-25 tablet-grid-25"><span id='statsEssence'>{{essence}}</span></small>
</div>